.footer
{
	background-color: #1A1A1A;
}
.steevanz
{
	max-width: 90%;  
}
p
{
    color: white;
    left: 34.72%;
    right: 59.24%;
    top: 24.1%;
    bottom: 64.46%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
#footer-icons
{
    margin-top: auto;
    padding-bottom: 2%;
}
.footer-text
{
    cursor: pointer;
}