.footer
{
	background-color: #1A1A1A;
    min-height: 25%;
}
.steevanz
{
	max-width: 90%;  
}
p
{
    color: white;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
#footer-icons
{
    margin-top: auto;
}
.footer-text
{
    cursor: pointer;
}
.btn {
    padding: 0;
}