<nav class="footer d-flex align-items-center">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <a class="brand" routerLink="">
                    <img class="steevanz" src="assets/images/steevanz.png"/>
                </a> 
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-6">
                        <p class="footer-text">Who We Are</p>
                        <p class="footer-text">FAQs</p>
                        <p class="footer-text">Contacts</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="footer-text">Complaints Book</p>
                        <p class="footer-text">Terms and Conditions</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3" id="footer-icons">
                <div class="row justify-content-end m-0 p-0">
                    <div class="col-sm-2">
                        <button class="btn btn-sm">
                            <img src="assets/images/facebook_icon.png"/>
                        </button>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-sm">
                            <img src="assets/images/instagram_icon.png"/>
                        </button>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-sm">
                            <img src="assets/images/twitter_icon.png"/>
                        </button>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-sm">
                            <img src="assets/images/in_icon.png"/>
                        </button>
                        </div>
                    <div class="col-sm-2">
                        <button class="btn btn-sm">
                            <img src="assets/images/youtube_icon.png"/>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav> 
