.ball
{
    box-sizing: border-box;
    width: 25px;
    height: 25px;

    top: 8.67%;
    bottom: 88.67%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#tinted
{
    color: #1A1A1A;
    background: white;
}
#not-tinted-white
{
    color: white;
    background: transparent;
}
#not-tinted-black
{
    color: #1A1A1A;
    background: transparent;
}
.white-border
{
    border: 1px solid #FFFFFF;
}
.black-border
{
    border: 1px solid #1A1A1A;
}
p
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    /* or 14px */
}