<div class="checkoutpage" id="page">
    <app-checkoutnav></app-checkoutnav>
    <app-freedelivbar></app-freedelivbar>
    <div class="checkoutpage-page">
            <div class="container-fluid">
                <div class="row py-4">
                    <div class="col-auto">
                        <img class="float-right" src="assets/images/arrow-left.png"/>
                    </div>
                    <div class="col-sm-2 px-0" id="text">Continue Shopping</div>
                </div>
                <div class="row pb-5">
                    <div class="col-auto">Btn</div>
                    <div class="col check-card">Check your cart</div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col-auto">
                                <h1>FRONTEND DEVELOPER</h1>
                            </div>
                            <div class="col">
                                <img src="assets/images/Delete.png" class="img-fluid"/>
                            </div>
                        </div>
                        <div class="subtext py-4">One position available every month.</div>
                        <img src="assets/images/page_2.png" class="img-fluid py-4 offset-sm-1" alt="Responsive image"/>
                    </div>
                    <div class="col">
                        <div class="coupon float-right">
                            Do you have a discount coupon?
                        </div>
                    </div>
                </div> 
            </div>
            <div class="total">
                Total: 50€ <p class="col-auto align-items-end">per month.</p>
            </div>
    </div>
</div>
