#check-card
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    /* identical to box height, or 24px */

    color: #1A1A1A;
}
#bill
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    /* identical to box height, or 21px */


    color: #1A1A1A;
}
.offer
{
    background-image: url(../../../assets/images/presente.png);
    background-size:100% 100%;
}
h2
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    /* identical to box height, or 24px */

    color: #1A1A1A;
}
p
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    /* or 18px */

    color: #1A1A1A;
}
.submit-button
{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 25px;
    gap: 15px;

    background: #1A1A1A;
    border: 1px solid #FFFFFF;
    border-radius: 33px;

    color:#FFFFFF;
}