#check-card
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    /* identical to box height, or 24px */

    color: #1A1A1A;
}
#bill
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    /* identical to box height, or 21px */


    color: #1A1A1A;
}
.offer
{
    background-image: url(../../../assets/images/presente.png);
    background-size:100% 100%;
}
h2
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    /* identical to box height, or 24px */

    color: #1A1A1A;
}
p
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    /* or 18px */

    color: #1A1A1A;
}