<div class="Ckoutnav">
    <div class="container-fluid">
        <div class="row rect">
            <div class="col-sm-2">
                <h3 class="ckout-text m-0">Checkout</h3>
            </div>
            <div class="col-sm-8"></div>
            <div class="col-sm-2">
                <div class="row">
                    <div class="col px-0">
                        <app-ckoutbutton [text]="text1" [color]="tinted"></app-ckoutbutton>
                    </div>
                    <div class="col px-0">
                        <app-ckoutbutton [text]="text2" [color]="nottinted"></app-ckoutbutton>
                    </div>
                    <div class="col px-0">
                        <app-ckoutbutton [text]="text3" [color]="nottinted"></app-ckoutbutton>
                    </div>
                    <div class="col px-0">
                        <app-ckoutbutton [text]="text4" [color]="nottinted"></app-ckoutbutton>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
