.freedelivbar
{
    background: #C6B784;
    min-height: 50px;
}
#text
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;

    color: #FFFFFF;
}