<!-- navbar -->
<app-navbar></app-navbar>
<div class="homepage expand-lg d-flex align-items-center justify-content-center" id="page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h2 class="d-flex align-items-center">FRONTEND DEVELOPER</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                </p>
                <div class="row mt-8">
                    <div class="col-auto">
                        <h3 class="fifty p-0 m-0">50€</h3>
                    </div>
                    <div class="col d-flex align-items-end p-0">
                       <p class="per-month p-0 m-0">per month</p>
                    </div>
                    <div class="col-auto float-right d-flex align-items-end">
                        <app-genericbutton [text]="text" [border]="black"></app-genericbutton>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <img src="assets/images/page_1.png" class="img-fluid" alt="Responsive image"/>
            </div>
        </div>
    </div>
</div>
<!-- footer -->
<app-footer></app-footer>