
.homepage
{
    background-color: #1E1E1E;
}
.btn
{
    border-radius: 25px;
    height: 33px;
    width: 160px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}
p, h2, h3
{
    color: white;
    font-style: normal;
}
p
{
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 24px;
}
h2
{
    font-family: 'Cormorant';    
    font-weight: 700;
    font-size: 48px;
    //or 42%s
}
#per-month
{
    width: 73px;
    height: 19px;
    left: 116px;
    top: 526px;

    font-family: 'Roboto';
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
}
#fifty
{
    width: 56px;
    height: 38px;
    left: 40px;
    top: 511px;

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}
