<div class="homepage expand-lg  d-flex align-items-center justify-content-center">
    <div class="container-fluid">
        <div class="row m-8">
            <div class="col-sm-6 px-5" id="intro">
                <h2 class="d-flex align-items-center">FRONTEND DEVELOPER</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                </p>
                <div class="row mt-8">
                    <div class="col-sm-1">
                        <h3 id="fifty">50€</h3>
                    </div>
                    <div class="col-sm-1 mt-3 ml-2">
                       <p id="per-month">per month</p>
                    </div>
                    <div class="col-sm-7"></div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-outline-light d-flex align-items-center justify-content-center">SUBSCRIBE</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 px-5">
                <img src="assets/images/page_1.png" class="img-fluid" alt="Responsive image"/>
            </div>
        </div>
    </div>
</div>
