<div class="successpage" id="successpage">
    <div class="container-fluid h-100" id="divSuccessContainer">
        <div class="row">
            <div class="col">
                <h1>Congratulations!</h1>
                <h3>You will be evaluated in the next few days.</h3>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy text 
                ever since the 1500s.
                <div>
                    <button>HOME</button>
                </div>
            </div>
            <div class="col h-100">
                <img src="assets/images/page_5.png"/>
            </div>
        </div>
    </div>
</div>
